*{
    font-family: Helvetica ;
    font-weight: 100;
}
html,body{
    margin: 0;
}

navbar {
    display: flex;
    margin: 1px;
    border: 1.5px solid black;
    justify-content: space-around;
    align-items: center;
}

navbar>a>img {
    height: 100px;
}

.navdiv {
    display: flex;
}

.navdiv>* {
    padding: 0px 15px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}